* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 30px;
    min-height: 100vh;           /* allow scroll if taller */
    display: flex;
    justify-content: center;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

header > h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #F9F4DA;
}

header > p {
    font-size: 0.875rem;
    max-width: 350px;
    color: #8E8E8E;
}

section.game-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F9F4DA;
    border-radius: 4px;
    margin-block: 30px;
    padding: 10px;
    min-width: 350px;
}

section.game-status > h2 {
    font-size: 1.25rem;
}

.languages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3px;
  max-width: 365px;
}

.languages-container button {
  max-width: fit-content;
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

